.hot-offer {
  background-image: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url('../img/offer-1.jpg');
  height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $WHITE_COLOR;
  text-align: center;
  text-transform: uppercase;
  @media screen and (max-width: 1024px) {
    height: 60vh;
  }
  &__heading {
    font-size: 80px;
    font-weight: 400;
    margin-bottom: 60px;
    @media screen and (max-width: 1024px) {
      font-size: 62px;
    }
    @media screen and (max-width: 720px) {
      font-size: 40px;
  }
  }
  &__details {
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 2px;
    width: 75%;
    margin-bottom: 30px;  
    @media screen and (max-width: 1024px) {
      font-size: 11px;
    }
    @media screen and (max-width: 720px) {
      font-size: 10px;
  }
  }
  &__btn {
      cursor: pointer;
      border: 1px solid $WHITE_COLOR;
      text-transform: uppercase;
      background-color: transparent;
      color: $WHITE_COLOR;
      padding: 10px 25px;
      border-radius: 4px;
      transition: all 0.2s;
      font-size: 15px;
      &:hover {
          color: $BLACK_COLOR;
          background-color: $WHITE_COLOR;
      }
      @media screen and (max-width: 1024px) {
        font-size: 11px;
      }
  }
}