.products {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    color: $BLACK_COLOR;
    text-transform: uppercase;
    &__heading {
        font-size: 25px;
        letter-spacing: 1.6px;
        font-weight: 600;
        margin-bottom: 20px;
        @media screen and (max-width: 1024px) {
            font-size: 19px;
        }
        @media screen and (max-width: 720px) {
            font-size: 13px;
        }
    }
    &__sub-heading {
        letter-spacing: 2px;
        line-height: 1.8;
        color: #555;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 60px;
        @media screen and (max-width: 1024px) {
            font-size: 11px;
            width: 60%;
            margin: 0 auto 50px;
        }
        @media screen and (max-width: 720px) {
            font-size: 9px;
            width: 75%;
        }
    }
}

.products-wrapper {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1024px) {
        width: 90%;
        flex-direction: column;
    }
}

.product__card {
    display: flex;
    flex-direction: column;
    width: 48%;
    align-items: flex-start;
    @media screen and (max-width: 1024px) {
        width: 100%;
        flex-direction: column;
        &:first-child {
            padding-bottom: 30px;
            border-bottom: solid 1px rgba(0,0,0,0.15);
        }
        &:last-child {
            margin-top: 54px;
        }
    }
    &-img {
        width: 100%;
        height: 17vw;
        border-radius: 5px;
        object-fit: cover;
        @media screen and (max-width: 1024px) {
            height: 20vh;
        }
    }
    &-name {
        font-size: 18px;
        font-weight: 600;
        color: $BLACK_COLOR;
        margin-top: 26px;
        margin-bottom: 32px;
        @media screen and (max-width: 1024px) {
            font-size: 14px;
        }
    }
    &-details {
        color: $BLACK_COLOR;
        font-size: 15px;
        text-transform: none;
        text-align: left;
        margin-bottom: 34px;
        line-height: 1.5;
        @media screen and (max-width: 1024px) {
            font-size: 11px;
        }
    }
    &-btn {
        cursor: pointer;
        border: 1px solid $BLACK_COLOR;
        text-transform: uppercase;
        background-color: transparent;
        color: $BLACK_COLOR;
        padding: 10px 25px;
        border-radius: 4px;
        transition: all 0.2s;
        font-size: 15px;
        &:hover {
            color: $WHITE_COLOR;
            background-color: $BLACK_COLOR;
        }
        @media screen and (max-width: 1024px) {
            font-size: 11px;
        }
    }
}